<app-navbar></app-navbar>

<div class="text">
  <h1 align="center" style="color: black; font-size: 40px">
    Textual Summary of Queries
  </h1>
  <br />

  <h3 style="color: black; font-size: 25px">
    Reasons for case and their contributions :
  </h3>

  <p style="color: black; font-size: 20px">
    The trend is about the reasons for case. It shows the specific reasons like
    work, family, mental health-related cases. The trends are displayed based on
    the years and month. Users can adjust the years and month of which they want
    the data. The data displayed is in the form of visualizations which have
    reasons and their contribution in terms of percentage. The visualization is
    in terms of two bar graphs, each representing a year, reasons and their
    total case time. Year is represented as x-axis and the case time is
    represented as y-axis.
  </p>

  <h3 style="color: black; font-size: 25px">
    Hospital with the highest total case due to operational issues :
  </h3>
  <p style="color: black; font-size: 20px">
    The trend is about the hospital with the longest total case in a particular
    case due to economic issues. Users can select the year of which they would
    like to get the data. The data is displayed in terms of visualization and it
    contains the name of the hospital which has the longest total case and the
    total case of the hospital in each month of that year. The visualization is
    a line graph which has month as x-axis and total_case_time in thousands as
    y-axis.
  </p>

  <h3 style="color: black; font-size: 25px">
    Case due to bad work conditions in a city :
  </h3>
  <p style="color: black; font-size: 20px">
    The trend is about the case due to bad work conditions in each month of a
    city in a particular selected year. Users can select the city and year of
    which they want to get the trend analysis. The trend is displayed in terms
    of visualization. Visualization contains the name of the hospital which is
    affected by the work and the case due to work in each month and it also
    contains the reasons for bad work like wind, storm, snow and fog and their
    total duration. The visualization has two graphs, one has the months as
    x-axis and total case time in thousands as y-axis and the other graph has
    the reasons of bad work which has reasons as x-axis and their contributions
    as y-axis.
  </p>

  <h3 style="color: black; font-size: 25px">
    Cities with highest cases during each season :
  </h3>
  <p style="color: black; font-size: 20px">
    The trend is about the cities that experience the highest cases in terms of
    time during each season. Users can select the season for which they want to
    get the visualization. The trend is displayed in terms of visualization.
    Visualization contains the name of the top five cities which have highest
    cases in a particular season. Visualization is in the form of a bar graph.
    The graph has the city as x-axis and case time as y-axis.
  </p>

  <h3 style="color: black; font-size: 25px">
    Hospitals with highest number of cases due to family :
  </h3>
  <p style="color: black; font-size: 20px">
    The trend displays the top five hospital names that experience the highest
    number of cases due to family in a particular month of a year. Users can
    select the year and month for which they want the visualization.
    Visualization contains the name of the top five hospitals with the most
    number of cases in a particular year and month. The visualization has a bar
    graph in which the city represents the x-axis and total number of cases
    represents the y-axis.
  </p>
</div>
