<app-navbar></app-navbar>

<div class="container">
  <div class="query-box">
    <div class="query-header">
      <span class="query-number">1.</span>
      <h2>Reasons for cases and their contributions:</h2>
    </div>
    <div class="query-content">
      <p>
        The trend focuses on reasons for cases such as work, family, and mental
        health-related issues. Trends are displayed based on years and months.
        Users can adjust the years and months to view the data, which is
        presented visually through bar graphs showing reasons and their
        contribution percentages. Each graph represents a year with reasons on
        the x-axis and case time on the y-axis.
      </p>
    </div>
  </div>

  <div class="query-box">
    <div class="query-header">
      <span class="query-number">2.</span>
      <h2>Hospitals with the highest total cases due to operational issues:</h2>
    </div>
    <div class="query-content">
      <p>
        This trend identifies hospitals with the longest total cases due to
        economic issues in a selected year. Users can select the year to view
        data, displayed visually through a line graph showing monthly total case
        times.
      </p>
    </div>
  </div>

  <div class="query-box">
    <div class="query-header">
      <span class="query-number">3.</span>
      <h2>Cases due to poor work conditions in a city:</h2>
    </div>
    <div class="query-content">
      <p>
        This trend analyzes cases due to poor work conditions in a city during a
        specific year. Users can select the city and year for trend analysis.
        Visualization includes graphs showing monthly case times and reasons for
        poor work conditions.
      </p>
    </div>
  </div>

  <div class="query-box">
    <div class="query-header">
      <span class="query-number">4.</span>
      <h2>Cities with the highest cases during each season:</h2>
    </div>
    <div class="query-content">
      <p>
        This trend highlights cities experiencing the highest cases during each
        season. Users can select the season for visualization, which is
        presented as a bar graph showing cities on the x-axis and case times on
        the y-axis.
      </p>
    </div>
  </div>

  <div class="query-box">
    <div class="query-header">
      <span class="query-number">5.</span>
      <h2>Hospitals with the highest number of cases due to family issues:</h2>
    </div>
    <div class="query-content">
      <p>
        This trend identifies the top five hospitals with the highest number of
        family-related cases in a selected month and year. Visualization
        includes a bar graph with hospitals on the x-axis and total cases on the
        y-axis.
      </p>
    </div>
  </div>
</div>
